body {
    margin: 0;
    height: 100%;
    background-color: black;
}
html {
    height: 100%;
}

.displaycontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.videocontainer {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.display1 {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.display2 {
   display: flex;
   overflow: hidden;
   height: 100%;
   width: 50%;
   justify-content: center;

}

.downbar {
    display: flex;
    height: 10%;
    color: white;
    font-size: 4vw;
    background-color: green;
    overflow: hidden;
}
