<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

	<div class="displaycontainer">

       <div class="videocontainer">
            <div class="display1" id="display1">
		{%if listagit["tipo"] == "Imagem" %}
			<img src="/static/github/{{listagit['name']}}">
		{% else %}
			<video id="videodisplay1" controls autoplay muted>
        	             <source src="/static/github/{{listagit['name']}}" type="video/mp4">
	                </video>
		{% endif %}
	    </div>
            <div class="display2" id="display2">
                {%if listainsta["tipo"] == "Imagem" %}
                        <img src="/static/ifmtcuiabaoficial/{{listainsta['name']}}">
                {% else %}
                        <video id="videodisplay2" controls autoplay muted>
                             <source src="/static/ifmtcuiabaoficial/{{listainsta['name']}}" >
                        </video>
                {% endif %}

            </div>
          </div>
		<div class="downbar">
			<p style="animation: slideX {{noticias|length * 20}}s linear infinite; margin: 1%; width: fit-content;"> {% for noticia in noticias%} {{noticia}} {% endfor %} <p/>
		</div>
	</div>

	<video data-html5-video="" preload="metadata" src="blob:https://player.radiosnaweb.com/6e9fbb7f-09ad-4bd5-8254-dd1161020213"><style class="clappr-style">[data-html5-video] {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block; }
</style></video>

</body>
</html>

<script type="text/javascript" src="/static/js/tela.js"></script>
