<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <div class="displaycontainer">

        <div class="videocontainer">
            <video id="teste" controls autoplay muted>
              <source src="/static/videos/1SomFliperama.mp4" type="video/mp4">
            </video>
<!--            <video controls autoplay muted>-->
<!--              <source src="/static/videos/1SomFliperama.mp4" type="video/mp4">-->
<!--            </video>-->
            <img src="/static/ifmtcuiabaoficial/2023-03-15_18-17-23_UTC.jpg">
        </div>
        <div class="downbar">
            <marquee direction="right">teste</marquee>
        </div>
    </div>

</body>
</html>

<script type="text/javascript" src="/static/js/tela.js"></script>
